<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scheduled Services</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Scheduled Services</h1>
    <p class="text-muted">Services that are scheduled, assigned or currently in progress.</p>
    <table id="scheduled-services" class="table">
        <thead>
        <tr>
            <th>Car Model</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Technician</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service: ${scheduledServices}">
            <td th:text="${service.carModel}"></td>
            <td th:text="${service.date ?: '-'}"></td>
            <td th:text="${service.time ?: '-'}"></td>
            <td th:text="${service.serviceStatus}"></td>
            <td th:text="${service.technician ?: '-'}"></td>
            <td>
                <a th:href="@{/services/{id}(id=${service.id})}">Details</a>
                <span th:if="${service.serviceStatus.name() == 'SCHEDULED' or service.serviceStatus.name() == 'ASSIGNED'}">
                    | <a th:href="@{/services/{id}/cancel(id=${service.id})}">Cancel</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
